.arrow {
  animation: MoveUpDown 3s linear infinite;
  position: absolute;
}

@keyframes MoveUpDown {
  0%, 100% {
    bottom: 30px;
  }
  50% {
    bottom: 1px;
    opacity: 0;
  }
}

.hover_arrow:hover {
  color: pink;
}

.oak {
    width: 35%;
    margin: 0 auto;
    grid-area: image;
}

.text {
  border: 5px solid black;
  border-style: double;
  width: 100%;
  border-radius: 10px;
  font-size: 3em;
  padding: 0;
  font-family: 'pokemon-font', monospace;
  grid-area: text;
}

.first_text {
  margin-top: 2%;
}

.gender_form {
    border: 5px solid black;
    border-style: double;
    border-radius: 10px;
    font-size: 2em;
    padding: 0;
    font-family: 'pokemon-font', monospace;
    grid-area: form;
}

/* Container Grid */
.title_container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 85% 15%;
  grid-template-rows: 30% 25% 15% 30%;
  grid-template-areas:
    "image ."
    "image ."
    "image form"
    "text text"
}

/* End of Container Grid */

/* Mobile Responsiveness */
@media only screen and (max-device-width: 640px), only screen and (max-device-width: 667px), only screen and (max-width: 480px) {
  .oak {
    width: 150%;
  }

  .text {
    font-size: 1.5em;
  }

  .first_text {
    margin-top: 10%;
  }

  .title_container {
    grid-template-columns: 65% 35%;
    grid-template-rows: 30% 28% 15% 27%;
  }
}



/* End of Mobile Responsiveness */

