.arrow {
  animation: MoveUpDown 3s linear infinite;
  position: absolute;
}

@keyframes MoveUpDown {
  0%, 100% {
    bottom: 30px;
  }
  50% {
    bottom: 1px;
    opacity: 0;
  }
}

.hover_arrow:hover {
  color: pink;
}

.oak {
    width: 30vw;
    margin: 0 auto;
}

/* Mobile Responsiveness */
@media only screen and (max-width: 600px) {
  .oak {
    border: 1px solid black;
    
  }
}

/* End of Mobile Responsiveness */