.arrow {
  animation: MoveUpDown 3s linear infinite;
  position: absolute;
}

@keyframes MoveUpDown {
  0%, 100% {
    bottom: 30px;
  }
  50% {
    bottom: 1px;
    opacity: 0;
  }
}

.hover_arrow:hover {
  color: pink;
}

.oak {
    width: 30%;
    margin: 0 auto;
    grid-area: image;
}

.text {
  border: 5px solid black;
  border-style: double;
  width: 100%;
  border-radius: 10px;
  font-size: 3em;
  padding: 0;
  font-family: 'pokemon-font', monospace;
  grid-area: text;
}

.first_text {
  margin-top: 2%;
}

.gender_select {
  margin: 0 0 0 25%;
  font-size: 30px;
}

.gender_form {
    border: 5px solid black;
    border-style: double;
    border-radius: 10px;
    padding: 0;
    font-family: 'pokemon-font', monospace;
    grid-area: form;
}

/* Container Grid */
.title_container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 10% 40% 15% 35%;
  grid-template-areas:
    ". . ."
    ". image ."
    ". image form"
    "text text text"
}

/* End of Container Grid */

/* Mobile Responsiveness */
@media only screen and (max-device-width: 640px), only screen and (max-device-width: 667px), only screen and (max-width: 480px) {
  .oak {
    width: 130%;
  }

  .text {
    font-size: 1.5em;
  }

  .first_text {
    margin-top: 10%;
  }

  .gender_select {
    margin: 0 0 0 25%;
    font-size: 24px;
  }

  .title_container {
    grid-template-columns: 15% 55% 30%;
    grid-template-rows: 12% 45% 13% 30%;
    grid-template-areas:
    ". . ."
    ". image ."
    ". image form"
    "text text text"
  }
}



/* End of Mobile Responsiveness */

